@charset "UTF-8";
	
body {
	font-size: 18px;
	font-family: Arial,Helvetica,sans-serif,'Open Sans', sans-serif;
	line-height: 1.85em;
	color: #888;
	font-weight: 300;
}
.side-cover{
	position:fixed;
	background-color: rgba(255, 255, 255, 0.6);
	z-index: 100;
	top:15%;
	height:85%;
	width:10%;
}
.right{
	right:0;
}
.left{
	left:0;
}
.disp{
	position: absolute;
	top: 15%;
	left:10%;
	right:15%;
	height:60%;
	width:150%;
	display:flex;
	flex-wrap:wrap;
}
	.disp .ideaBlock{
		float:left;
		position:relative;
		width:30%;
		height:50%;
		border-style: solid;
		background-color: rgba(100%, 100%, 10%, 0.8);
	}
	.disp #b1{
		width: 50%;
		height: 70%;
	}
	.disp #b2{
		width: 10%;
		height: 20%;
	}