@charset "UTF-8";
html{
}
body {
  font-size: 18px;
  font-family: Arial,Helvetica,sans-serif,'Open Sans', sans-serif;
  line-height: 1.85em;
  color: #888;
  font-weight: 300;
  overflow-x: hidden;
}
body::-webkit-scrollbar { 
  display: none; 
}
body::scrollbar { 
  display: none; 
}

.wallIdeaBlock{
    position:absolute;
    width:80%;
    left: 10%;
    bottom:5%;
    height:40%;
    overflow: hidden;
    border-radius: 30px;
    color:black;
    background-color: rgba(255, 255, 255, 0.7) ;
}
    .wallIdeaBlock .wallIdea{
        position: absolute;
        width: 23%;
        height:90%;
        font-size: 1.3em;
        margin:1%;
    }
    .wallIdeaBlock .wallIdea .wallIdeaTitle{
        position:absolute;
        max-height:10%;
        max-width:90%;
        left: 0;
    }
    	.wallIdeaBlock .wallIdea .wallIdeaTitle::-webkit-scrollbar { 
		    display: none; 
		}
        .wallIdeaBlock .wallIdea .wallIdeaTitle::scrollbar { 
		    display: none; 
		}
    .wallIdeaBlock .wallIdea .delIdeaInWall{
        position:absolute;
        right:0;
        width:30px;
        height:30px;
        background-color: rgba(10%, 10%, 10%, 0.3);
        color:white;
        font-size:0.5em;
        text-align:center;
        border-radius: 30px;
        opacity: 0.6;
    }
    .wallIdeaBlock .wallIdea img{
        opacity:0.8;
        border-radius: 10px;
        -webkit-filter:sepia(0.3);
        -webkit-box-shadow: #666 0px 2px 3px; 
        position:absolute;
        height: 85%;
        width:100%;
        bottom:0;
        margin:1%;
        float: left;
    }

#wallNav{
  position: fixed;
  top: 8%;
  width: 6%;
  right: 0;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0.5;
}
.wnbContainer{
  position: relative;
  width: 100%;
  height: 10%;
}
.wallNavButton{
  position: relative;
  width: 20%;
  margin: 0px auto;
  border-radius: 100px;
  background-color: #B0B0B0 ;
  opacity: 0.6;
}
.wallNavButton:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.wallNavButton:hover{
	opacity: 1.0;
}

#wallBuffer{
  position: fixed;
  right: 0.5%;
  top: 10%;
  width: 18%;
  height: 89%;
  background-color: rgba(13%, 20%, 10%, 0.8) ;
  opacity: 0.9;
  overflow-y:scroll;
}
    #wallBuffer .buffView{
        width:90%;
        height:20%;
        padding:5%;
    }
        #wallBuffer .buffView .title{
            font-size:1.3em;
            color:black;
            z-index:100005;
            max-height: 1.3em;
            overflow: hidden;
        }
        #wallBuffer .buffView img{
            max-width:70%;
            max-height:60%;
            float : left;
            z-index:100005;
        }
        #wallBuffer .buffView .del{
            float :right;
        }

#wallDisp{
    position: absolute;
	top: 15%;
    left: 10%;
	width: 80%;
    height: 100%;
    background-color: rgba(100%, 100%, 10%, 0.8);
}
.wallBlockContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: #F8F8F8 ;
}
.wallBlock{
  position: relative;
  top: 10%;
  left: 7%;
  width: 86%;
  height: 89%;
  background-color: #CC99CC;
  border-radius: 30px;
}
    .wallBlock .wallTitle{
        position: absolute;
        font-size: 2.5em;
        font-weight: bold;
        width: 18%;
        word-break:keep-all;
        text-align:center;
        left:10%;
        bottom:65%;
    }
    .wallBlock .wallDscrpt{
        position: absolute;
        right: 10%;
        max-width: 55%;
        height:33%;
        top: 10%;
        text-align:left;
        font-size: 1.3em;
        word-break:keep-all;
    }
    
#blocker{
  position: fixed;
  top: 0%;
  width: 100%;
  height: 10%;
  background-color: white;
  z-index: 10;
}


#buffIcon{
    position: fixed;
    opacity:0.9;
    width: 50px;
    height: 50px;
    z-index: 10005;
    left:1.7%;
    bottom:1%;
    background-color: #606060 ;
    color: white;
	border-radius: 50px;	/* 高度 */
}

.delWall{
    position: absolute;
    opacity:0.9;
    width: 30px;
    height: 30px;
    z-index: 10005;
    right: 1%;
    top:1.3%;
    text-align:center;
    font-size:1.3;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5) ;
    color: #CC99FF;
	border-radius: 30px;
}
.jspTrack
{
    background: #C0C0C0  !important; 
    position: relative;
}
 
.jspDrag
{
    background: #787878 !important; 
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}  