#submitContainer{
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.9;
  z-index: 10006;
  display: none;
}
#submitPage{
  position: relative;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
}
#submitIcon{
  position: fixed;
  bottom: 5%;
  left: 3%;
  height: 50px;
  width: 50px;
  background-color: gray;
  border-radius: 50px;
  z-index: 10005;
}
#submitIconArrow{
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: #fff;
}
